body{
	background-color: limegreen;
}

h1 {
	font-size: 30px;
	color: teal;
}

h2{
	color: lightblue;
	font-size: 15px;
}

.big{
	font-size: 60px;
}
.uppercase{
	text-transform: uppercase;
}

.big.uppercase{
	color: turquoise;
}

h1 span{
	color: orangered;
}